{% extends 'layout.html' %}
{% block body %}

<div class="row">
  <div class="col-8">
    <h1>Initial Info</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <hr>
  </div>
  <div class="col-4">
    <hr>
    <h4>Sign In</h4>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-primary" role="alert">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form class="" action="/login_user" method="POST">
      <p> Nickname: <input type="text" name="nick" placeholder="Nickname" required> </p>
      <p> Password: <input type="password" name="pass" placeholder="PassWord" required> </p>
      <button type="submit" class="btn btn-secondary ">Sign In</button>
    </form>
    <hr>
  </div>
</div>

{% endblock %}
